<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{site.baseurl}}/dist/css/bootstrap.min.css" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/site.css" />

        <!-- Site-specific Settings -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }}</title>
    </head>
    <body class="text-justify">
        <div class="container">
            <div class="row"> 
                <div class="col-md-12 banner">
                    <h1 class="project-title"><a href="{{site.baseurl}}/">{{site.name}}</a></h1>
                    <a class="project-title" href="{{site.baseurl}}/">home</a>
                </div>
            </div>
            {{ content }}
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright small">
                        Samuel A. Falvo II<br />
                        Software Engineer
                    </p>
                </div>
                <div class="col-md-6">
                    <footer class="inner small">
                        <p class="copyright">
                            <a class="pull-right" href="{{site.baseurl}}/atom.xml">ATOM feed</a><br />
                            <a class="pull-right" href="{{site.baseurl}}">{{site.baseurl}}</a><br />
                            <a class="pull-right" href="https://twitter.com/samuelafalvoii">twitter.com/samuelafalvoii</a><br />
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
